$icon-font-path: '../fonts/';
$red: #ea4134;
$grey: #ccc;
$white: #fff;

// bower:scss
@import 'bower_components/bootstrap-sass/assets/stylesheets/bootstrap';
// endbower

body {
  font-family: 'Raleway', sans-serif;
}

header {
  h1 {
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 10px;
    margin: 40px 0 0;
  }

  h2 {
    color: $grey;
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 2px;
    margin-bottom: 40px;
    margin-top: 5px;
  }
}

.dinfo {
  .btn-primary {
    background-color: transparent;
    border-color: $red;
    color: $red;

    &:hover,
    &:active,
    &:focus {
      background-color: $red;
      border-color: $red;
      color: $white;
      outline: 0;
    }
  }

  hr {
    margin-top: 0;
  }
}

footer {
  bottom: 0;
  color: $grey;
  font-weight: 100;
  padding: 10px;
  position: fixed;
  right: 0;
  width: auto;

  a {
    color: $grey;
    text-decoration: none;
  }
}
